.App {
  text-align: center;
}

.header_area{
  height: 15%;
  background-color: #601294 ;
}

.smaller_header_area{
  height: 5%;
  background-color: #9c4fcf
}

.container {
  display: grid;
  grid-template-columns: [first] 50% [line2] 50%;
  gap: 1rem;
}

.container > .track-item {
  background: #365fe6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.pie_div {
  height: 400px;
}

p , h1, h3{
  color:seashell;
}



.errmsg{
  color: red;
}

