.App {
  text-align: center;
}

.header_area{
  height: 10vh;
  width: 100%;
  background-color: #601294;
  /*border-bottom-left-radius: 1rem;
  border-bottom-right-radius:1rem;*/
}

.smaller_header_area{
  height: 5vh;
  background-color: #9c4fcf;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius:5rem;
}

.bottom-container{
  position: sticky;
  width: 100%;
  bottom: 0;
}

.smaller_footer_area{
  height: 5vh;
  background-color: #9c4fcf;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.footer_area{
  text-align: center;
  height: 10vh;
  background-color: #601294;
}
.footer_area > p{
  margin-top: auto;
  padding-top: 5vh;
  color: black;
}
.container {
  display: grid;
  grid-template-columns: [first] 50% [line2] 50%;
  gap: 1rem;
}

.container > .track-item {
  background: #365fe6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.pie_div {
  height: 400px;
}

.login_spacer{
  margin: 3%;
}

.button{
  background-color: #43b0db;
  border: none;
  color: seashell;
  padding: 1% 6%;
  border-radius: 1rem;
}

p , h3{
  color:seashell;
}

h1{
  color: seashell;
  margin: 3%;
  border-bottom: solid;
  border-bottom: #9c4fcf;
  border-bottom-width: 2px;
}

.errmsg{
  color: red;
}

