.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: [first] 50% [line2] 50%;
  gap: 1rem;
}

.container > .track-item {
  background: #365fe6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.pie_div {
  height: 400px;
}
